*{
    text-align: center;
    background-color: peachpuff;
}
/* index title*/

.title{
    background-color: #FFF8DC;
    margin: 10px 185px;
    padding: 10px;
    text-decoration: underline;
    font-family:  serif;

}

/*image*/

img{
    height: 300px;
    width: 500px;
    border: 2px solid #FFF8DC;
    margin: 10px;
}

/*anchors*/
a{
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}

/*div for the image*/
 div.recipes{
    display: block;
    width: auto;
    height: max-content;

 }
 
 /* the inline for the images*/
.recipes div{
    display: inline-block;
    margin-top: 100px;
}



/* list center bullet point/ numbs*/
 li{
   padding: 8px 10px;
   
   list-style-position: inside;
   text-align: auto;


}

.recipes h2{
    color: #5C4033;
    background-color: #FFF8DC;
}
/* background for the headers of the recipes*/
.title-recipes{
    background-color: #FFF8DC;
    margin: 10px 185px;

}

.recipe-details h2{
    background-color: #FFF8DC;
    margin: 10px 185px;


}


    
